{
    "trailingComma": "none",
    "tabWidth": 4,
    "printWidth": 80,
    "semi": true,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "arrowParens": "avoid",
    "htmlWhitespaceSensitivity": "ignore",
    "endOfLine": "lf",
    "importOrder": ["@config[/(.*)]*$", "^@.*[/(.*)]*$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderParserPlugins": ["classProperties", "decorators-legacy"],
    "overrides": [
        {
            "files": ["*.jsx", "*.html", "frontend/src/index.js"],
            "options": { "tabWidth": 2 }
        }
    ]
}
