{
    "trailingComma": "none",
    "tabWidth": 4,
    "printWidth": 80,
    "semi": true,
    "singleQuote": false,
    "jsxSingleQuote": true,
    "arrowParens": "avoid",
    "htmlWhitespaceSensitivity": "ignore",
    "endOfLine": "lf",
    "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
