{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parserOptions": {
        "project": "./backend/tsconfig.json"
    },
    "rules": {
        "no-console": 2,
        "quotes": "off",
        "@typescript-eslint/quotes": [
            "error",
            "double",
            { "avoidEscape": true, "allowTemplateLiterals": true }
        ]
    }
}
