{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "jest"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:jest/recommended"
    ],
    "parserOptions": {
        "project": "./backend/tsconfig.json"
    },
    "rules": {
        "no-console": 2,
        "quotes": "off",
        "@typescript-eslint/quotes": [
            "error",
            "double",
            {
                "avoidEscape": true,
                "allowTemplateLiterals": true
            }
        ],
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error"
    },
    "overrides": [
        {
            "files": "test/*",
            "parser": "babel-eslint",
            "env": {
                "browser": false,
                // "es6": true,
                "es6": false,
                "node": true,
                "jest/globals": true,
                "jest": true
            }
        }
    ],
    "ignorePatterns": [".eslintrc"]
}
